```
# CMake build artifacts
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
*_subbuild/
_deps/

# Compiled objects
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll

# Executables
*.exe
*.out

# Dependencies downloaded by CMake
_deps/

# Progress and temporary files
CMakeFiles/*/CMakeDetermineCompilerABI_*.bin
CMakeFiles/*/CompilerId*/a.out
CMakeFiles/*/compiler_depend.internal
CMakeFiles/*/*.o
CMakeFiles/*/*.o.d
CMakeFiles/*/quill-populate-prefix/
```